<%- include("../../views/partials/admin/header") %>
<style>
  .pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
}

.pagination a:hover {
  background-color: #0056b3;
}

.pagination .disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pagination .prev-btn,
.pagination .next-btn {
  padding: 8px 12px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination .prev-btn.disabled,
.pagination .next-btn.disabled {
  cursor: not-allowed;
  color: #ccc;
}

 .col-md-3 {
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 10px;
   margin: 10px;
 }


 .error-message {
   color: red;
   margin-top: 5px;
 }


 .form-label {
   margin-bottom: 8px;
 }


 .form-control {
   width: 100%;
   padding: 8px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
 }


 .d-grid {
   margin-top: 20px;
 }


 .btn-primary {
   background-color: #007bff;
   color: #fff;
   border: 1px solid #007bff;
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
 }


 .btn-primary:hover {
   background-color: #0056b3;
   border-color: #0056b3;
 }
 </style>
<section class="content-main">
 <div class="content-header">
   <div>
     <h2 class="content-title card-title">Coupons</h2>
   </div>
 </div>
 <div class="card">
   <div class="card-body">
     <div class="row">
       <div class="col-md-3">
         <form method="post" action="/admin/createCoupon" onsubmit="return validateForm(event)">
           <body onload="setDefaultStartDate()"></body>
             <div class="mb-4">
               <label for="coupon-name" class="form-label">Coupon Name</label>
               <input
                 type="text"
                 id="coupon-name"
                 name="couponName"
                 placeholder="Type here"
                 class="form-control"
               />
               <div id="error-coupon-name" class="error-message"></div>
             </div>


             <div>
               <label for="startingDate" class="form-label">Start Date</label>
               <input
                 type="date"
                 name="startDate"
                 class="form-control"
                
                 id="startingDate"
               />
               <div id="error-start-date" class="error-message"></div>
             </div>


             <div>
               <label for="expiringDate" class="form-label">End Date</label>
               <input
                 type="date"
                 name="endDate"
                 class="form-control"
                 id="expiringDate"
                 
               />
               <div id="error-end-date" class="error-message"></div>
             </div>


             <div>
               <label for="offer-price" class="form-label">Offer Price</label>
               <input
                 type="text"
                 name="offerPrice"
                 placeholder="Type here"
                 class="form-control"
               />
               <div id="error-offer-price" class="error-message"></div>
             </div>


             <div>
               <label for="minimum-price" class="form-label"
                 >Minimum Price</label
               >
               <input
                 type="text"
                 name="minimumPrice"
                 placeholder="Type here"
                 class="form-control"
               />
               <div id="error-minimum-price" class="error-message"></div>
             </div>


             <div class="d-grid">
               <button
                 class="btn btn-primary mt-20"
                
                 type="submit"
               >
                 Add Coupon
               </button>
             </div>
             <div id="err-msg" class="error-message"></div>
           </body>
         </form>
       </div>
       <div class="col-md-7 ml-105">
         <div class="table-responsive">
             <table class="table table-hover">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Created On</th>
                         <th>Expire On</th>
                         <th>Offer Price</th>
                         <th>Minimum Price</th>
                         <th>Status</th>
                         <th>Edit/Delete</th>
                     </tr>
                 </thead>
                 <tbody>
                    <%for(let i=0;i<coupons.length;i++){%>
                     <tr>
                         <td class="text-start"><%=coupons[i].name%></td>
                         <td class="text-start"><%=new Date(coupons[i].createdOn).toLocaleDateString('en-US')%></td>
                         <td class="text-start"><%=new Date(coupons[i].expireOn).toLocaleDateString('en-US')%></td>
                         <td class="text-start"><%=coupons[i].offerPrice%></td>
                         <td class="text-start"><%=coupons[i].minimumPrice%></td>
                         <td class="text-start"><%=coupons[i].isList%></td>
                         <td class="text-start">
                             <a href="/admin/editCoupon?id=<%=coupons[i]._id%>" class="btn btn-primary btn-sm" >Edit</a>


                                                     <a href="#" onclick="confirmDelete('<%=coupons[i]._id%>')" class="btn btn-danger btn-sm" style="height: 35px;width: 105px;">Delete</a>
                         </td>
                     </tr>
                     <%}%>
                 </tbody>
             </table>
         </div>
          <!-- Pagination Controls -->
          <div class="pagination">
            <!-- Previous Button -->
            <% if (currentPage > 1) { %>
              <a href="/admin/coupon?page=<%= currentPage - 1 %>" class="prev-btn">Previous</a>
            <% } else { %>
              <span class="prev-btn disabled">Previous</span>
            <% } %>

            <!-- Page Number Links -->
            <% for (let i = 1; i <= totalPages; i++) { %>
              <a href="/admin/coupon?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                <%= i %>
              </a>
            <% } %>

            <!-- Next Button -->
            <% if (currentPage < totalPages) { %>
              <a href="/coupon?page=<%= currentPage + 1 %>" class="next-btn">Next</a>
            <% } else { %>
              <span class="next-btn disabled">Next</span>
            <% } %>
          </div>



     </div>
     </div>
   </div>
 </div>



</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>


function validateForm(event) {
  // Clear previous error messages
  document.querySelectorAll(".error-message").forEach((element) => (element.innerHTML = ""));
  let isValid = true;
  // Get form values
  const sDate = document.getElementsByName("startDate")[0].value;
  const eDate = document.getElementsByName("endDate")[0].value;
  const sDateObj = new Date(sDate);
  const eDateObj = new Date(eDate);
  const todayDateObj = new Date();
  todayDateObj.setHours(0, 0, 0, 0);

  if(eDate === ''){
    document.getElementById("error-end-date").innerHTML = "This field is required";
    event.preventDefault(); // Prevent form submission
   isValid=false;
  }

  // Validation for Start Date and End Date
  if (sDateObj > eDateObj) {
    document.getElementById("error-end-date").innerHTML = "End date should be after the start date";
    event.preventDefault(); // Prevent form submission
    return false;
  }

  if (sDateObj <= todayDateObj) {
    document.getElementById("error-start-date").innerHTML = "Starting date should be greater than or equal to today's date";
    event.preventDefault(); // Prevent form submission
    return false;
  }

  // Validation for Coupon Name
  let name = document.getElementsByName("couponName")[0].value;
  const nameRegex = /^[A-Za-z0-9]{1,50}$/;

  if (name === '') {
    document.getElementById("error-coupon-name").innerHTML = "This field cannot be empty";
    event.preventDefault(); // Prevent form submission
    return false;
  }

  if (!nameRegex.test(name)) {
    document.getElementById("error-coupon-name").innerHTML = "Coupon Name must be alphanumeric and 1 to 50 characters";
    event.preventDefault(); // Prevent form submission
    return false;
  }

  // Validation for Offer Price and Minimum Price
  const offerPriceInput = document.getElementsByName("offerPrice")[0];
  const minimumPriceInput = document.getElementsByName("minimumPrice")[0];
  const offerPrice = offerPriceInput.value.trim() !== "" ? parseInt(offerPriceInput.value) : NaN;
  const minimumPrice = minimumPriceInput.value.trim() !== "" ? parseInt(minimumPriceInput.value) : NaN;

  if (offerPriceInput === '') {
    document.getElementById("error-offer-price").innerHTML = "Offer price is required";
    isValid = false;
  }

  if (isNaN(offerPrice) || isNaN(minimumPrice)) {
    document.getElementById("error-offer-price").innerHTML = "Please enter numeric values for Offer Price and Minimum Price";
    event.preventDefault(); // Prevent form submission
    return false;
  }

  if (offerPrice >= minimumPrice) {
    document.getElementById("error-offer-price").innerHTML = "Offer Price must be greater than Minimum Price";
    event.preventDefault(); // Prevent form submission
    return false;
  }

  return true;
}


function confirmDelete(couponId) {
   Swal.fire({
     title: "Are you sure?",
     text: "You won't be able to revert this!",
     icon: "warning",
     showCancelButton: true,
     confirmButtonColor: "#d33",
     cancelButtonColor: "#3085d6",
     confirmButtonText: "Yes, delete it!",
   }).then((result) => {
     if (result.isConfirmed) {
       deleteCoupon(couponId);
     }
   });
 }

 let $j = jQuery.noConflict();
 function deleteCoupon(couponId) {
   $j.ajax({
     url: `/admin/deletecoupon?id=${couponId}`,
     method: "GET",
     success: function () {
       Swal.fire({
         icon: "success",
         title: "Deleted!",
         text: "The coupon has been deleted.",
         confirmButtonText: "OK",
       }).then(() => {
         window.location.reload();
       });
     },
     error: function () {
       Swal.fire({
         icon: "error",
         title: "Error!",
         text: "Failed to delete the coupon. Please try again.",
       });
     },
   });
 }



 function setDefaultStartDate(){
    const today = new Date();
    const year = today.getFullYear();
    let month = (today.getMonth()+1).toString().padStart(2,"0");
    let day= today.getDate().toString().padStart(2,"0");
    document.getElementById("startingDate").value= `${year}-${month}-${day}`;
 }
</script>
<%- include("../../views/partials/admin/footer") %>

