<%- include("../../views/partials/user/header") %>

    <main class="main">
        <div class="page-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 col-md-9 col-sm-7">

                        <div class="statusContent">
                            <div class="col-sm-12">
                                <div class="statusTop">
                                    <p><strong>Status:</strong></p>
                                    <p>
                                        <%= orderData.orderStatus %>
                                    </p>

                                    <p><strong>Order Date:</strong>
                                        <%= orderData.orderDate %>
                                    </p>

                                    <p><strong>Order Number:</strong> #<%= orderData.orderNumber %>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div id="cancelledBtn" style="display: none;" class="text-bg-danger p-3">This order has
                                    been cancelled</div>
                            </div>

                            <div class="gap"></div>

                            <% if (isCancelled) { %>
                                <div class="col-sm-6">
                                    <button class="btn btn-danger btn-lg btn-block">This order has been
                                        cancelled</button>
                                </div>
                                <% } else if (orderData.orderStatus === 'Return') { %>
                                    <div class="col-sm-6">
                                        <button class="btn btn-warning btn-lg btn-block" disabled>This order has been returned</button>
                                    </div>
                                <% } else if (isDelivered) { %>
                                    <div class="col-sm-6">
                                        <button id="returnBtn" class="btn btn-primary btn-lg btn-block"
                                            onclick="returnOrder('<%= orderData._id %>')">Return this order</button>
                                    </div>
                                    <% } else { %>
                                        <div class="col-sm-12 mt-3">
                                            <div id="cancelBtn" class="btn btn-danger"
                                                onclick="cancelOrder('<%= orderData._id %>')">Cancel this order</div>
                                        </div>
                                        <% } %>







                                            <div class="gap"></div>
                                            <div class="col-sm-6">
                                                <% if (orderData.addressChosen && addressData.address && addressData.address.length > 0)  { %>
                                                    <div class="order-box">
                                                        <div class="order-box-header"><strong>Address</strong></div>
                                                        <div class="order-box-content">
                                                            <% 
                                                                // Loop through the address array
                                                                let address = selectedAddress; 
                                                            %>
                                                            <div class="address">
                                                                <p><strong><%= address.addressType %></strong></p>
                                                                <p><strong><%= address.name %></strong></p>
                                                                <div class="adr">
                                                                    <%= address.landMark %>, <%= address.city %>, <%= address.state %>, <%= address.pincode %>
                                                                    <br />Phone: <%= address.phone %>
                                                                    <br />Alt Phone: <%= address.altPhone %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <p>No address found.</p>
                                                <% } %>
                                                <div class="col-sm-6">
                                                    <div class="order-box">
                                                        <div class="order-box-header"><strong>Payment Method</strong></div>

                                                        <div class="order-box-content">
                                                            <div class="address">
                                                                <p>
                                                                    <%= orderData.paymentType %>
                                                                        <% /* <span style="color: green" class="green">
                                                                            <strong>(Paid)</strong>
                                                                            </span> */ %>
                                                                </p>
                                                                <% /* <p><strong>Name Of card: </strong> Ruth F. Burns
                                                                    </p>

                                                                    <p><strong>Card Number: </strong> 00335 251 124</p>
                                                                    */ %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div style="clear: both"></div>
                        </div>

                    </div>


                    <div class="col-sm-12 clearfix">
                        <div class="order-box">
                            <div class="order-box-header text-center" style="font-size: 20px; font-weight: bold;">Order Items</div>
                            <div class="order-box-content">
                                <div class="table-responsive">
                                    <table class="table table-bordered order-details-cart">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 15%;">Product Image</th>
                                                <th scope="col" style="width: 55%;">Product Name</th>
                                                <th scope="col" style="width: 15%;">Quantity</th>
                                                <th scope="col" style="width: 20%;">Total Cost</th>
                                                <th scope="col" style="width: 20%;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (orderData.cartData && Array.isArray(orderData.cartData) && orderData.cartData.length > 0) { %>
                                                <% orderData.cartData.forEach(cartItem => { %>
                                                    <tr class="cartProduct">
                                                        <td class="cartProductThumb">
                                                            <div style="max-width: 100px;">
                                                                <a href="/productDetails/<%= cartItem.productId._id %>">
                                                                    <img alt="Product Image"
                                                                         src="/uploads/product-images/<%= cartItem.productId.productImg[0] %>"
                                                                         style="max-width: 100%; height: auto;" />
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="miniCartDescription text-center" style="font-size: 5px;">
                                                                <h4>
                                                                    <a href="/productDetails/<%= cartItem.productId._id %>">
                                                                        <%= cartItem.productId.productName.substring(0, 30) %> <!-- Adjust the number of characters -->
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </td>
                                                        <td><a style="font-size: 14px; text-align: center;">X<%= cartItem.productQty %></a></td>
                                                        <td><span style="font-size: 14px; text-align: center;">₹<%= cartItem.totalCostPerProduct %></span></td>
                                                        <!-- <td><button class="btn btn-danger" onclick="cancelProduct('<%= cartItem.productId._id %>','<%= orderData._id %>',this)">Cancel</button></td> -->
                                                        <td>
                                                            <button id="cancel-button-<%= cartItem.productId._id %>" class="btn btn-danger"
                                                                    <% if (cartItem.isCancelled) { %> disabled <% } %>
                                                                    onclick="cancelProduct('<%= cartItem.productId._id %>', '<%= orderData._id %>', this)">
                                                                <%= cartItem.isCancelled ? "Cancelled" : "Cancel" %>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                <% }); %>
                                                <tr class="cartTotalTr blank">
                                                    <td colspan="5"></td>
                                                </tr>
                    
                                                <tr class="cartTotalTr">
                                                    <td colspan="2">Total </td>
                                                    <td colspan="3"><span id="totalAmount">₹<%= orderData.cartData.reduce((total, item) => {
                                                        return !item.isCancelled ? total + item.totalCostPerProduct : total;
                                                    }, 0) %></span></td>
                                                </tr>
                                                <tr class="cartTotalTr">
                                                    <td colspan="2">Shipping</td>
                                                    <td colspan="3"><span>Free</span></td>
                                                </tr>
                                                <tr class="cartTotalTr">
                                                    <td colspan="2">GrandTotal</td>
                                                    <td colspan="3"><span class="price" id="grandTotalAmount">₹<%= orderData.cartData.reduce((total, item) => {
                                                        return !item.isCancelled ? total + item.totalCostPerProduct : total;
                                                    }, 0) %></span></td>
                                                </tr>
                                                
                                            <% } else { %>
                                                <tr><td colspan="4">No items in the cart.</td></tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                    
                                    <div class="col-sm-12">
                                        <div class="btn btn-success">
                                            <a href="/profile/downloadInvoice/<%= orderData._id %>" style="color: white;">Download Invoice</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    




                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-12 clearfix mt-4">
            <ul class="pager">
                <li class="previous pull-right"><a href="/"> <i class="fa fa-home"></i> Go to Shop </a></li>
            </ul>
        </div>


        </div>
        </div>
        </div>
    </main><!-- End .main -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
       async function cancelOrder(orderId) {
        console.log("orderId from cancel",orderId);
        
    Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, cancel it!"
    }).then(async (result) => { // Mark the function as async
        window.location.reload();

        if (result.isConfirmed) {
            try {
                const response = await fetch('/order/cancel/<%= orderId %>', { method: 'POST' });
                const data = await response.json();
                console.log(data);
                if (data.success) {
                    console.log('hello');
                   
                } else {
                    throw new Error("Cancellation failed"); // Handle cancellation failure
                }
            } catch (error) {
                console.error(error); // Log the error
                // Handle the error, e.g., show an error message to the user
            }
        } else {
            console.log('Order cancellation cancelled');
        }
    });
}














async function returnOrder(orderId) {
    // Confirm the action
    if (confirm("Are you sure you want to return this order?")) {
        // Make a POST request to return the order
      await  fetch(`/order/return/${orderId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert("Your order has been returned and refund processed.");
                location.reload();
            } else {
                alert("There was an issue processing your return.");
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert("There was an error processing your return.");
        });
    }
}





async function cancelProduct(productId,orderId,btnElement){
    console.log("entered into cancel product",productId,orderId)
    await fetch(`/order/cancelProduct/${productId}/${orderId}`,{
        method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },

         
    })
    .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('totalAmount').textContent = `₹${data.newTotalAmount}`;
                document.getElementById('grandTotalAmount').textContent = `₹${data.newGrandTotal}`;


                alert("Your product has been cancelled");
            location.reload();
           
            } else {
                alert("There was an issue cancelling your product");
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert("There was an error cancelling your product.");
        });
}

    </script>

<%- include("../../views/partials/user/footer") %>
